section
    position: relative
    height: 50vh
    margin-top: 5vh
    .main-container
        position: absolute
        display: flex
        height: 100%
        width: 100%
        img
            filter: drop-shadow(-10px -5px 7px var(--pink))
            z-index: -2
        p
            font-family: 'Quicksand', sans-serif
            padding: 5px
            span
                font-weight: 900
    &::after
        content: ''
        display: block
        position: absolute
        width: 100%
        bottom: 0
        box-shadow: 0px -1rem .5rem 2rem white
        z-index: -1


            