@use '../util' as u
section
    position: relative
    display: flex
    margin-top: 2vh
    min-height: 300px
    height: 50vh
    img
        filter: drop-shadow(-10px -5px 7px rgb(100, 100, 100))
        z-index: -2
        width: 60%
    .main-container
        @include u.flexCenter
        flex-direction: column
        text-align: center
        width: 40%
        padding: 2%
        h1
            font-family: u.$altFont
            border-bottom: 1px solid u.$pink
            width: 85%
            font-size: 120%
        p
            font-family: u.$mainFont
            padding: 5px
            overflow-y: scroll
    &::after
        content: ''
        position: absolute
        width: 100%
        bottom: 0
        box-shadow: 0px -1rem .5rem 2rem u.$gray
        z-index: -1
        opacity: 123123


            