@use '../util' as u 

footer
    @include u.flexCenterRow
    margin-top: auto 
    padding: 1em
    box-shadow: 0 0 .5em .5em black
    font-size: .7rem
    background-color: black
    color: u.$pink
